body {
  font-family: 'arial MT', sans-serif;
  min-width: 240px;
  padding: 0;
  margin: 0;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  opacity: 0.0005;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  position: absolute;
}
.h1 {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}
.h2 {
  color: #111111;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: 400 ;
  margin: 0;
  padding: 0;
}
.h3 {
  color: #111111;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.text {
  color: #111111;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.text--small {
  font-family: 'arial MT', sans-serif;
  font-size: 14px;
  text-transform: none;
}
.button {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  background-color: #68b738;
  padding: 9.5px;
}
.button--arrow {
  text-decoration: none;
  color: #111111;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-style: 16px;
  font-weight: 400;
}
.button--arrow::after {
  content: url(../../src/svg/arrow.svg);
  display: block;
  width: 24px;
  margin-left: 10px;
}
.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
}
.header--inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 12px 20px;
}
.burger {
  font-size: 0;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.page-nav {
  list-style: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  display: none;
}
.page-nav__item {
  height: 65px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  position: relative;
  -ms-flex-pack: center;
      justify-content: center;
}
.page-nav__item::after,
.page-nav__item .brMixin {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  bottom: 0;
  left: 0;
}
.page-nav__item:first-child::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  bottom: 0;
  left: 0;
  top: 0;
}
.page-nav__item a {
  -ms-flex-item-align: center;
      align-self: center;
  color: #111111;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.tagline {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  background: url(../../src/img/index-background-mobile.png) no-repeat;
  background-position: top center;
  background-size: 100% ;
  padding: 27px 20px 22px ;
}
.tagline__h1 {
  color: white;
  line-height: 36px;
  margin-bottom: 19px;
  margin-bottom: 10px;
}
.tagline__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 30px;
}
.tagline__img {
  margin-bottom: 3px;
}
.talinge__button {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.cards {
  padding: 0;
  margin: 0;
  padding: 22px 20px 0px;
  padding-top: 0;
  list-style: none;
}
.cards__item {
  padding: 20px;
  padding-bottom: 0;
  position: relative;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
.cards__item:nth-child(2) .cards__title::after {
  content: url(../../src/svg/programm-2.svg);
  -webkit-transform: none;
          transform: none;
  width: 69px;
  top: 14px;
  left: 12px;
}
.cards__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 400;
  margin-bottom: 20px;
}
.cards__title::after {
  content: url(../../src/svg/programm-1.svg);
  position: absolute;
  top: 22px;
  left: 23px;
  width: 49px;
  display: block;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.cards__title::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  margin: 4px 19px 2px 2px;
}
.cards__text {
  line-height: 18px;
}
.cards__button--arrow {
  padding-bottom: 18px;
  padding-top: 24px;
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}
@media (max-width: 260px) {
  .cards__title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.hiwork {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -3px;
}
.hiwork__h2 {
  font-size: 36px;
  line-height: 60px;
}
.process {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-top: 22px;
}
.process__text {
  line-height: 18px;
  margin: 0;
}
.process__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 10px;
}
.process__item::before {
  display: block;
  margin-right: 20px;
  margin-top: 6px;
}
.process__item:nth-child(1)::before {
  content: url("../../src/img/hiwork-1.jpg");
}
.process__item:nth-child(2)::before {
  content: url("../../src/img/hiwork-2.jpg");
}
.process__item:nth-child(3)::before {
  content: url("../../src/img/hiwork-3.jpg");
}
.process__item:nth-child(4)::before {
  content: url("../../src/img/hiwork-4.jpg");
}
.demo {
  margin: 0;
  padding: 0px 20px;
  background-color: #f2f2f2;
  padding: 33px 20px 38px;
}
.demo__h2 {
  line-height: 84px;
  margin-bottom: 11px;
}
.demo__text {
  line-height: 18px;
  display: inline-block;
  margin: 0;
  letter-spacing: 0.015px;
}
.pseudo-table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.pseudo-table--wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pseudo-table--inner {
  position: relative;
}
.pseudo-table__title {
  width: 122px;
  height: 54px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 24px;
}
.pseudo-table__legend {
  background-color: #f2f2f2;
  position: absolute;
  display: inline-block;
  text-align: center;
  margin: 0;
  top: 47px;
  left: 15px;
  max-width: 82px;
  padding: 0px 4%;
  line-height: 12px;
  font-size: 12px;
  color: #444444;
}
.pseudo-table__expenses {
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  margin: 0;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.pseudo-table__expenses p {
  font-size: 14px;
  margin-left: 2px;
  margin-top: 33px;
  text-align: center;
}
.big-range {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 28px;
}
.big-range__before {
  margin-left: -10px;
}
.big-range__controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 25px;
  margin-bottom: -4px;
  width: 70%;
}
.big-range__range {
  width: 60%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.page-catalog {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.page-catalog__h1 {
  line-height: 60px;
  display: inline-block;
  padding: 16px 0 28px 0;
  margin-left: -20px;
  position: relative;
  width: 100vw;
}
.page-catalog__h1::before {
  content: '';
  height: 1px;
  background-color: black;
  opacity: 0.1;
  position: absolute;
  right: 0;
  width: 100vw;
  top: 0;
}
.page-catalog__h1::after {
  content: '';
  height: 1px;
  background-color: black;
  opacity: 0.1;
  position: absolute;
  right: 0;
  width: 100vw;
  bottom: 0;
}
.catalog__button {
  padding: 9.7px;
}
.goods {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  list-style: none;
  padding: 0;
  margin: -1px;
}
.goods--inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.goods--wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.goods__link {
  font-size: 16px;
  width: 74px;
  padding-top: 22px;
  padding-bottom: 11px;
  line-height: 20px;
  text-align-last: left;
}
.goods__link--still {
  width: auto;
  padding-top: 18px;
  padding-bottom: 0;
}
.goods__text--still {
  margin-bottom: 21px;
}
.goods__item {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 2px 21px;
  margin-bottom: 21px;
  position: relative;
}
.goods__item::after {
  content: '';
  height: 1px;
  background-color: black;
  opacity: 0.1;
  position: absolute;
  right: 0;
  bottom: -23px;
  width: 100%;
}
.goods__img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.goods__table {
  margin-left: -2px;
  margin-top: 2px;
}
.catalog__td {
  font-size: 12px;
  line-height: 13px;
  color: #444444;
  text-align: right;
}
.catalog__td--label {
  text-align: left;
}
.goods__still {
  -ms-flex-align: center;
      align-items: center;
  margin-top: 26px;
}
.goods__button--still {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: #f2f2f2;
  color: #111111;
  font-size: 16px;
  padding: 8px;
}
.additional {
  padding: 0 20px;
  margin: 0;
}
.additional--inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.additional--inner p {
  margin: 0;
}
.additional__h2 {
  width: auto;
  font-size: 24px;
  margin: 0;
  margin-top: 31px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 34px;
}
.additional__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.additional__item {
  display: -ms-flexbox;
  display: flex ;
  -ms-flex-direction: column;
      flex-direction: column;
}
.additional__text {
  margin: 0;
  text-align: left;
  line-height: 16px;
  padding-top: 14px;
  margin-bottom: 12px;
  position: relative;
}
.additional__button {
  margin-top: 14px;
  padding-bottom: 10px;
  margin-bottom: 17px;
  position: relative;
}
.additional__item:not(:last-child) .additional__button::after {
  content: '';
  height: 1px;
  background-color: black;
  opacity: 0.1;
  position: absolute;
  right: 0;
  bottom: -18px;
  width: 100%;
}
.additional__item:first-child .additional__text:before {
  content: '';
  height: 1px;
  background-color: black;
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
}
.additional__gift {
  margin-bottom: 63px;
  padding: 65px 59px 43px;
  margin-top: 40px;
}
.gift {
  background-image: url(../../src/img/gift-photo-mobile.jpg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.gift__icon {
  margin-bottom: 60px;
  fill: #ffffff;
}
.gift__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.adress--inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 20px;
  margin: 27px 0;
}
.adress__text {
  margin: 0;
  line-height: 20px;
}
.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 41px 20px 0px;
  background-color: #f2f2f2;
  position: relative;
}
.footer__copyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  margin-top: 18px;
  bottom: 14px;
}
.footer__link {
  text-decoration: none;
  color: #444444;
}
.social {
  list-style: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 0;
  margin-top: 30px;
  padding: 22px 0px;
  width: 45%;
  position: relative;
}
.social::before {
  content: '';
  height: 1px;
  background-color: black;
  opacity: 0.1;
  width: 88vw;
  position: absolute;
  right: -77px;
  top: 1px;
}
.social::after {
  content: '';
  height: 1px;
  background-color: black;
  opacity: 0.1;
  width: 88vw;
  position: absolute;
  right: -77px;
  bottom: -1px;
}
.social__items {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.social li:nth-child(1) .social__items {
  background-image: url("../../src/svg/soc-1.svg");
}
.social li:nth-child(2) .social__items {
  background-image: url("../../src/svg/soc-2.svg");
}
.social li:nth-child(3) .social__items {
  background-image: url("../../src/svg/soc-3.svg");
}
