.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 41px 20px 0px;
    background-color: @white-gray;
    position: relative;
}

.footer__copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 18px;
    bottom: 14px;
}

.footer__link{
    text-decoration: none;
    color: @gray;

}